@import "../../styles/contants.scss";

.wrapper {
  background-color: white;
  .container {
    @media (max-width: $sm) {
      flex-direction: column;
      gap: 2rem;
      align-self: flex-start;
    }
    gap: 2rem;

    .left {
      flex: 3;
      > * {
        display: block;
      }
      > :nth-child(2) {
        margin-top: 3rem;
        a {
          text-decoration: underline;
          color: orange;
        }
      }
    }
    .right {
      flex: 1;

      .info {
        margin-bottom: 1rem;
        > * {
          display: block;
        }
      }
      .menu {
        @media (max-width: $sm) {
          flex-direction: row;
          flex-wrap: wrap;
          align-self: flex-start;
        }
        flex-direction: column;
        gap: 2rem;
        display: flex;
        list-style: none;
        li {
          cursor: pointer;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}
